*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.titleTweet{
  padding-top: 3%;
  color: #fff;
  text-transform: uppercase;
}

.Tweets{
  text-align: center;
  background-color: #282c34;
  display: flex;
  margin-top: 5%;
}

.tweet{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #fff;
  height: 30vh;
}

.botonSaludo{
  padding: 1% 4%;
  background-color: rgba(0,0,0,0);
  border: 2px solid #61dafb;
  border-radius: 500px;
  color:#61dafb;
  margin-top: 50px;
  transition: 300ms;
  cursor: pointer;
  outline: none;
}

.botonSaludo:hover, .botonSaludo:focus{
  background-color: #61dafb;
  color: #fff;
}
